// Fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

// Variables
@import 'variables';

$primary: #0178d4;
$secondary: #2c3e50; // Nouvelle couleur secondaire
$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-serif: 'Poppins', sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: $font-family-serif;

// Style personnalisé - Ajoutée par Emmanuel
@import '../css/custom.css';

@import '../css/custom.scss';


// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Styles personnalisés
body {
    font-weight: 400;
    color: $secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: darken($primary, 1%);
}

.lead {
    font-family: $font-family-serif;
    font-weight: 300;
}

.navbar {
    font-family: $font-family-sans-serif;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover {
        background-color: darken($primary, 10%);
        border-color: darken($primary, 10%);
    }
}